.header {
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 15vw;
  /* padding-top: 10px; */
  font-size: 300%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #121212;
  text-shadow: -1px 1px 0 #063f8a, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
}
.orders-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-card {
  position: relative;
  margin: 20px auto;
  padding: 10px auto;
  width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.order-products {
  width: 80%;
  margin-top: 40px;
}

.order-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */
  margin-left: 30px;
  padding-left: 30px;
  padding-top: 40px;
  margin-bottom: 50px;
}
.product-title {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.product-in-order-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex: 1;
}

.quantity {
  flex: 1;
  display: flex;
  justify-content: center;
}

.price {
  flex: 1;
  position: absolute;
  right: 0;
  margin-right: 30px;
  padding-right: 30px;
  font-size: medium;
}
.total-price {
  flex: 1;
  position: absolute;
  right: 0;
  margin-right: 30px;
  padding-right: 30px;
  bottom: 0;
  margin-bottom: 20px;
}

.no-data-img {
  width: 50vw;
  object-fit: cover;
}
.no-data-img-container {
  display: flex;
  justify-content: center;
  justify-self: center;
}

@media only screen and (max-width: 700px) {
  .header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 200%;
  }
  .order-card {
    margin: 10px auto;
    width: 90vw;
  }
  .order-info {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    font-size: x-small;
  }

  .product-in-order-img {
    width: 70px;
    height: 60px;
    object-fit: cover;
    flex: auto;
    justify-content: flex-end;
  }

  .product-info {
    margin-left: 0;
    padding-left: 0;
    padding-top: 10px;
    font-size: small;
    gap: 10px;
  }
  .quantity {
    visibility: hidden;
  }
  .price {
    font-size: small;
    margin-right: 0;
    padding-right: 15px;
  }

  .total-price {
    margin: 15px auto;
    flex: 1;
    position: absolute;
    right: 0;
    font-size: 100%;
    padding-right: 15px;
  }

  .order-card-actions {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .no-data-img {
    width: 70vw;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
  .header {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 8vw;
    font-size: 250%;
  }
  .order-card {
    margin: 10px auto;
    padding: 10px auto;
    width: 85vw;
  }
  .no-data-img {
    width: 70vw;
  }
}
