.product-title {
  font-size: 300%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #121212;
  text-shadow: -1px 1px 0 #063f8a, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
}

.product-description {
  font-size: 150%;
  opacity: 60%;
  width: 80%;
}

.product-image-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.product-image {
  object-fit: contain;
  width: 400px;
  height: 500px;
  padding-right: 50px;
}

.increment-btn {
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.spinner {
  /* display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 550px) {
  .product-image {
    width: 250px;
    height: 300px;
    padding-right: 0;
  }
  .product-image-container {
    height: 40vh;
    display: flex;
    justify-content: center;
  }

  .product-title {
    font-size: 210%;
  }
  .product-description {
    font-size: 130%;
    opacity: 60%;
    width: 80%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 551px) and (max-width: 855px) {
  .product-image-container {
    height: 40vh;
    display: flex;
    justify-content: center;
  }

  .product-info-container {
    display: flex;
    align-items: center;
  }
  .product-title {
    font-size: 250%;
  }
  .product-description {
    font-size: 130%;
    width: 55%;
  }
  .increment-btn {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 856px) and (max-width: 1000px) {
  .product-image-container {
    height: 60vh;
    display: flex;
  }

  .product-description {
    font-size: 140%;
  }
}
